.main-centre-img {
  display: block;
  width: 400px;
  margin-left: auto;
  margin-right: auto
}

.main-centre-img1 {
  display: block;
  width: 700px;
  margin-left: auto;
  margin-right: auto
}
.main-centre-img2 {
  display: block;
  width: 400px;
  margin-left: auto;
  margin-right: auto
}
.main-centre-img3 {
  display: block;
  width: 100px;
  margin-left: auto;
  margin-right: auto
}
.main-centre-img4 {
  display: block;
  width: 400px;
  margin-left: auto;
  margin-right: auto
}
.main-centre-img5 {
  display: block;
  width: 400px;
  margin-left: auto;
  margin-right: auto
}

